#Format is PLAYER TEAM IP
#This config is pretty forgiving with syntax
#it should work as long as you follow PLAYER TEAM IP
#The delimiters are SPACE , ; : - 
#That being said you can NOT enter
#a name or team that is two words
#in the config file here, you can if you 
#manually enter the player!
#Below are all working ways to input players
#Attacking/nuetral players don't need an IP
#But, if one is specified it will be scanned
#This can allow multiple TEAMS to be scanned
#invalid IP's will be set to 0.0.0.0, and
#not scanned as well as loopback addresses
#
Google Google 207.172.159.157  
player2,red
PlaYER3:   
#Warning Player4's IP is not valid
Player4,Blue;10.0.0.300
P1   ;;::,,   MVCC------------127.0.0.1
P2, SunyIT, 127.0.0.1
P3, Utica, 127.0.0.1
RobinOlds, GOLD!!!!, 20.11.20.11
ZUBA -- ZUBA ;; 74.67.217.160
#Good luck
