#Format is PLAYER TEAM IP
#This config is pretty forgiving with syntax
#it should work as long as you follow PLAYER TEAM IP
#The delimiters are SPACE , ; : - 
#Below are all working ways to input players
#Attacking/nuetral players don't need an IP
#But, if one is specified it will be scanned
#This can allow multiple TEAMS to be scanned
#
Player1 blue 10.0.0.1  
player2,red
PlaYER3:   
#Warning Player4's IP is not valid
Player4,Blue;10.0.0.30
Player5: white: 10.0.0.100
PLAYER6 red 10.0.0.50
Player7-BLUE-10.0.0.2
PlaYer8
Player9;blue;10.0.0.3
Player10   ;;::,,   Blue------------10.0.0.5
RobinOlds, GOLD!!!!, 20.11.20.11
P1, MVCC, 10.0.1.1
P2, SunyIT, 10.0.2.1
P3, Utica, 10.0.3.1
#Good luck
